
</head>
<body>
    <header class="nav-head">
        <div class="nav container">
            <ul>
                <li><a href="/">收件箱</a></li>
                <li> <a href="/write">写邮件</a></li>
                <li> <a href="/out">已发送邮件</a></li>
                <li> <a href="/deleted">已删除邮件</a></li>
                <!-- <li><input type="text" placeholder="搜索" class="input-sm search"></li> -->
                <% if(session.user){ %>
                <li>
                    <img src="/images/default.png" alt="" class="img-circle img-title">
                   
                    <ul class="menu">
                        <li class="menulist"><a href="/write">写信</a></li>
                        <li class="fresh"><a href="/fresh">收件</a></li>
                        <li class="out"><a href="/signout">登出</a></li>
                    </ul>
                </li>
                <script>
                    var imgTitle = document.getElementsByClassName('img-title')[0],
       
                    menu = document.getElementsByClassName('menu')[0];
                    imgTitle.onclick = function (event) {
                        showTap();
                        event.stopPropagation();
                    }
                        
                    document.body.addEventListener('click',function (event) { 
                        menu.style.display = 'none';
                        // event.stopPropagation();
                        },true)
  
                        function showTap(){
                            if(menu.style.display == 'block'){
                                menu.style.display = 'none';
                            }else {
                                menu.style.display = 'block';
                            }
                        }
                        //退出登录
                    var signOut = document.getElementsByClassName('out')[0];
                </script>
                <% }else{ %>
                <li class="login">
                    <a class="loginup" href="javascript:;"><span class="glyphicon glyphicon-user"></span> 注册 | 登录</a>
                </li>
                
                <% } %>
            </ul>
        </div>
    </header>
</body>


